{{ define "main" }}

<section class="site-project-title-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-title">
          {{ if .Params.image }}
          <div class="site-project-title-image">
            <img src="{{ .Params.image | absURL }}" alt="opportunity image">
          </div>
          {{ end }}
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>

          {{ if .NextInSection }}
          <div class="site-project-title-action">
            <a href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next Opportunity">
                  Next Opportunity
                </span>
              </span>
              <img src="{{ "images/to-top.svg" | absURL }}" alt="next project">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
