{{ define "main" }}

<section class="site-media-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
      </div>
    </div>
  </div>
</section>

{{ $videoJSON := getJSON "https://beavervideos.vercel.app/api/videos" }}
{{"<!-- Media Section -->" | safeHTML }}
<section class="site-media">
    <div class="container">
      <div class="row">
        {{ range $videoJSON.data }}
        <div class="col-lg-6">
          <article class="site-media-post">
            <div class="site-media-post-content">
              <span>{{ dateFormat "01-02-2006" (time .created_time) }}</span>
              <a href="{{ .link }}"><h3>{{ .name }}</h3></a>
              <p>
                {{ .description | safeHTML}}
              </p>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{"<!-- /Media Section -->" | safeHTML }}

{{ partial "call-to-action.html" . }}

{{ end }}