{{ define "main" }}

<section class="site-media details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <article class="site-media-details">
          <h2 class="media-title">{{ .Title }}</h2>
          {{ if .Params.author }}
          <div class="media-author">
           <h5>{{ .Params.author }}</h5>
          </div>
          {{ end }}
          {{ if .Params.summary }}
          <div class="media-summary">
          {{ .Params.summary }}
          </div>
          {{ end }}
        </article>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}