.site-hero{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop{
    height: auto;
    padding: 200px 0;
  }
  @include mobile{
    padding: 150px 0;
  }
  &-content{
    h1{
      margin-bottom: 75px;
      border: 10px solid white;
      font-size: 120px;
      padding: 20px;
      color: white;
      @include desktop-lg{
        font-size: 120px;
        margin-bottom: 50px;
        padding: 0;
      }
      @include mobile{
        font-size: 40px;
        padding: 20px 0 20px 0;
        border: 10px solid white;
        margin-bottom: 100px;
      }
    }
    &-buttons{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        @include mobile{
          display: block;
        }
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .btn{
          font-weight: 600;
          background: none;
          border: 1px solid white;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
        .btn-important{
          background: $primary-color;
        }
        .btn:hover .btn-area span {
            transform: translateY(-150%);
        }
        .btn:hover .btn-area span::after {
            transform: translateY(20%);
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
  }
  &> * {
    z-index: 100;
  }

  .arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    & span {
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    & span:nth-child(2) {
        animation-delay: -0.2s;
    }
    & span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}