.note {
    margin-bottom: 20px;
    
    span {
    padding: 10px;
    background-color: #eeeeee;
    border-left: 5px solid #aaaaaa;
    margin-left: 30px;
    display: inline-block;
    }
}

.site-client-wrapper {
    @include desktop{
        justify-content: initial;
    }
    img {
        max-width: 500px;
        @include mobile{
            max-width: 175%;
        }
    }
}



.warning {
    margin-bottom: 20px;
    span {
        padding: 10px;
        background-color: $primary-color;
        display: inline-block;
        color: white;
    }
}

.site-contact-title {
    margin-bottom: 20px;
}

.contact-info {
    @include desktop{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.site-testimonial-item{
    &-body {
    color: $text-color-dark;
    }
    & li {
            color: $text-color-dark;
    }
}