.site-purpose{
  padding: 85px 0;
  color: $white;
  background: $secondary-color;
  .section-title{
    margin-bottom: 40px;
  }
  @include mobile{
    padding: 50px 0;
  }
  &-item{
    @include desktop{
      margin-bottom: 30px;
      text-align: center;
    }
    &-title{
      color: $text-color-dark;
      font-size: 30px;
      font-weight: 700;
    }
    &-number{
      color: $white;
      font-size: 20px;
      margin-bottom: 0;
      font-weight: 600;
    }
  }
}