{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <h2 class="blog-title">{{ .Title }}</h2>
          {{ if .Params.image }}
          <div class="site-project-title-image">
            <img src="{{ .Params.image | absURL }}" alt="page-image">
          </div>
          {{ end }}
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ end }}