{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading | markdownify }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description | markdownify }}
            </p>
          </div>
          <div class="site-about-services">
            <p>
              {{ .Params.services | markdownify }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li>{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "team.html" . }}

{{ partial "stewards.html" . }}

{{ partial "nominations.html" . }}

{{ partial "capitaltask.html" . }}

{{ partial "vision.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}