{{ with .Site.Data.capitaltask }}
  {{ if .enable }}
  <section class="site-client">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
          <div class="site-client-wrapper">
            {{ range .members }}
            <div class="site-client-item">
              <p>{{ .name }}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}