<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.Params.logo | absURL }}" alt="logo" />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#sitenavbar"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ml-auto main-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.nav }}
            {{ if .HasChildren }}
                <li class="dopdown nav-item">
                    <a class="nav-link dropdown" href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span><i class="arrow down"></i>
                    </a>
                <ul class="dropdown-content">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
              </li>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | absURL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
    </div>
  </div>
</nav>

