{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="site-hero-content text-center">
            <h6>{{ .tagline }}</h6>
            <h1>
              {{ .heading }}
            </h1>
            <ul class="site-hero-content-buttons">
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .secondary_button }}">
                      {{ .secondary_button }}
                    </span>
                  </span>
                </a>
              </li>
              {{ if .important_button }}
              <li>
                <a href="{{ .important_button_url | absURL }}" class="btn btn-important">
                  <span class="btn-area">
                    <span data-text="{{ .important_button }}">
                      {{ .important_button }}
                    </span>
                  </span>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#counter" class="scroll-to">
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}