{{ with .Site.Data.holiday }}
  {{ if .enable }}
  <section class="site-client">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
            <div class="section-title">
                <h2>{{ .title }}</h2>
              </div>
        </div>
        {{ if .videoTitle }}
        <div class="col-lg-6 col-md-6">
            <h3> {{ .videoTitle }}</h3>
            <iframe src="https://player.vimeo.com/video/{{ .video }}" width="100%" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{ end }}
        <div class="col-lg-6 col-md-6">
              <h3>{{ .imageTitle }}</h3>
              <img src="{{ .image }}" width="100%">
        </div>
      </div>

    </div>
  </section>
  {{ end }}
{{ end }}