{{ with .Site.Data.misc }}
  {{ if .enable }}
  <section class="site-client">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {{ range .images }}
        <div class="col-lg-6">
          <div class="site-client-wrapper">
            <div class="site-client-item">
              <img src="{{ .image | absURL }}" alt="{{ .title }}-image">
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}