{{ with .Site.Data.purpose }}
  {{ if .enable }}
  <section class="site-purpose" id="counter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="text-white">{{ .heading }}</h2>
          </div>
        </div>
        {{ range .counter_item }}
        <div class="col-lg-3 col-md-6">
          <div class="site-purpose-item">
            <h3 class="site-purpose-item-title">{{ .title }}</h3>
            <h3 class="site-purpose-item-number">{{ .number }}</h3>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
