{{ with .Site.Data.teachers }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .members }}
        <div class="col-lg-4 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <p>{{ .description }}</p>
              <h5>What do you enjoy doing?</h5>
              <p>{{ .enjoy }}</p>
              <h5>Who is the greatest influence in your life?</h5>
              <p>{{ .influence }}</p>
              <h5>What do you hope our preschool students and families experience?</h5>
              <p>{{ .experience }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}