{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .members }}
        <div class="col-lg-4 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <p>{{ .description }}</p>
              <h5>What do you most enjoy?</h5>
              <p>{{ .enjoy }}</p>
              <h5>Who is the greatest influence upon your life?</h5>
              <p>{{ .influence }}</p>
              <h5>Why does the church matter to you?</h5>
              <p>{{ .matter }}</p>
              {{ if .links }}
              {{ range .links }}
              <h3>Links</h3>
                <a href="{{ .url }}">{{ .name }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
