{{ with .Site.Data.testimonial }}
  {{ if .enable }}
  <section class="site-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
            <p>
              {{ .subtitle }}
            </p>
          </div>
        </div>
        {{ range .testimonial_item }}
        <div class="col-lg-4 col-md-6">
          <div class="site-testimonial-item">
            <div class="site-testimonial-item-header">
              {{ if .thumb }}
              <div class="thumb">
                <img src="{{ .thumb | absURL }}" alt="user-thumb-one">
              </div>
              {{ end }}
              <div class="person">
                <h5>{{ .name }}</h5>
                <p>{{ .company_position }}</p>
              </div>
            </div>
            <p class="site-testimonial-item-body">
              {{ .quote | markdownify }}
            </p>
          </div>
        </div>
        {{ end }}
        <div class="col-lg-4 col-md-6">
          <div class="site-testimonial-item">
            <div class="site-testimonial-item-header">
              <div class="person">
                <h5>Sunday Regular Hours</h5>
              </div>
            </div>
            <p class="site-testimonial-item-body">
              {{ if .summer }}
              <p>Sunday Worship: 10:00 AM</p>
              <p>* Childcare provided (during the summer)</p>
              <p>* Sunday School will resume in the fall.</p>
              {{ else }}
              <p>Sunday School: 10:00 AM</p>
              <p>Sunday Worship: 11:00 AM</p>
              {{ end }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}