{{ define "main" }}
<section class="site-contact">
  <div class="container">
      <h1 class="site-contact-title">
        {{ .Params.heading | safeHTML }}
      </h1>
    <div class="container-fluid">
    <div class="row">
     <div class="col-lg-6">
      <div class="contact-info">
       <h4>Contact Info</h4>
       <p>{{ .Params.address }}</p>
       <p>{{ .Params.cityzip }}</p>
       <p>{{ .Params.phone }}</p>
       <p>{{ .Params.hours }}</p>
       <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
     </div>
    </div>
     <div class="col-lg-6">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="https://messages.caumchurch.com/api/send" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="col-12">
                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Message"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="Send Message">
                      Send Message
                    </span>
                  </span>
                </button>
              </div>
             <p id="contact-form-status"></p>
           </div>
         </form>
       </div>
     </div>
  </div>
</section>
{{ end }}